.header {
  background-image: url(../../assets/bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  position: relative;
}

.bg-image {
  position: absolute;
  top: 10%;
}
.web-nav,
.mobile-nav {
  background-color: #ecf8ee6c;
}
button {
  cursor: pointer;
}

.nav-links li {
  cursor: pointer;
}
.mobile-nav {
  display: none;
}
.hero {
  max-width: 80%;
}
@media screen and (max-width: 800px) {
  .mobile-nav {
    display: block;
  }
  .web-nav {
    display: none;
  }
  .mobile {
    position: fixed;
    background-color: #c6e6cb;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: left 0.7s ease-in-out;
  }

  .open {
    left: 0%;
  }
}
@media screen and (max-width: 320px) {
  .text-content {
    width: 100% !important;
  }
}
