/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/

.accordion__button {
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .accordion__button {
    display: inline-block;
    text-align: center;
  }
  .icon {
    display: none;
  }
  .faq-text {
    text-align: center;
  }
}

.accordion__item {
  color: #054e12;
}
.faq-border {
  border-top: solid 2px #999999;
  width: 100%;
  padding-top: 4rem;
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px 40px;
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
