
.graid{
  background: linear-gradient(224deg, #054E12 0%, #3B8004 100%);

}

.btngrad{
  background: #007D16 linear-gradient(218deg, #007D16 0%, #4BA900 100%);
  /* background-image: url("./assets/ellipse.svg"); */

}

.view:hover{
  background: #007D16 linear-gradient(218deg, #007D16 0%, #4BA900 100%);
}

.shadowformobiletabs{
  box-shadow: 0px 0px 0px 0px rgba(2, 130, 26, 0.10), 0px 2px 4px 0px rgba(2, 130, 26, 0.10), 0px 7px 7px 0px rgba(2, 130, 26, 0.09), 0px 16px 10px 0px rgba(2, 130, 26, 0.05), 0px 29px 11px 0px rgba(2, 130, 26, 0.01), 0px 45px 13px 0px rgba(2, 130, 26, 0.00);

}

.learnbgstep {
  background-image: url(./Platform/sections/createproject/assets/circle.svg);
}